{% extends 'base.html' %}

{% block content %}
    <div class="create-account-button-container container">
        <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Créer un Compte</button>
        {% if accounts %}
            <a href="{% url 'delete-account' %}" class="btn btn-outline-light">Supprimer un Compte</a>
        {% endif %}
    </div>

    <!-- Modal CREATE -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">NOUVEAU COMPTE</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                {{ create_account_form.name }}
                            </div>

                            <div class="mb-3">
                                {{ create_account_form.balance }}
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Annuler</button>
                                <button type="submit" class="btn btn-success">Créer Compte</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- TABLE -->

    <div class="account-card-body card-body">
        <table class=" budget-table table table-striped table-bordered table-dark">
            <thead>
            <tr>
                <td class="table-headers">NOM</td>
                <td class="table-headers">SOLDE</td>
            </tr>
            </thead>
            <tbody>
            {% for account in accounts %}
                <tr>
                    <td>{{ account.name }}</td>
                    <td class="col-amount">{{ account.balance|floatformat:2}} €</td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>

{% endblock %}