<div class="budget-card card" style="width: 50rem;">

    <div class="budget-header card-header">
      <p class="budget-name">Budget</p>
      <p class="budget-amount">solde</p>

  </div>

  <div class="budget-card-body card-body">
    <table class=" budget-table table table-striped table-dark">
  <thead>
    <tr>
      <td>Date</td>
      <td>Description</td>
      <td>Catégorie</td>
      <td>Montant</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>12/02/2022</td>
      <td>Courses Carrefour</td>
      <td>Alimentation</td>
      <td>65.28 </td>
    </tr>
    <tr>
      <td>12/02/2022</td>
      <td>Livre Juliette</td>
      <td>Culture</td>
      <td>10.50</td>
    </tr>
  </tbody>
</table>

  </div>
</div>

