<div class="budget-card card" style="width: 50rem;">

    <div class="budget-header card-header">
      <p class="budget-name">{{ account.name }}</p>
      <p class="budget-amount">{{ account.balance }} €</p>

  </div>

  <div class="budget-card-body card-body">
    <table class=" budget-table table table-striped table-bordered table-dark">
  <thead>
    <tr>
      <td class="table-headers">DATE</td>
      <td class="table-headers">DESCRIPTION</td>
      <td class="table-headers">CATEGORIE</td>
      <td class="table-headers">MONTANT</td>
    </tr>
  </thead>
  <tbody>
    {% for operation in operations %}
        <tr>
            <a href="#"><td>{{ operation.date_created}}</td></a>
          <td class="col-amount">{{ operation.description}}</td>
          <td class="col-amount">{{ operation.category }}</td>
          <td class="col-amount">{{ operation.amount }} €</td>
        </tr>
    {% endfor %}

  </tbody>
</table>

  </div>
</div>

