<div class="budget-card card" style="width: 50rem;">

    <div class="budget-header card-header">
      <p class="budget-name">{{ account.name }}</p>
      <p class="budget-amount">{{ account.balance }} €</p>

  </div>

  <div class="budget-card-body card-body">
      <table class=" budget-table table table-striped table-bordered table-dark">
          <thead>
          <tr>
              <td class="table-headers">DATE</td>
              <td class="table-headers">DESCRIPTION</td>
              <td class="table-headers">CATEGORIE</td>
              <td class="table-headers">MONTANT</td>
              <td class="table-headers">SUPPRIMER</td>
          </tr>
          </thead>
          <tbody>

          {% for operation in account.operations_account.all %}
              <tr>
                  <td class="col-center"><a class="detail-operation-link"
                         href="{% url 'update-operation' pk=operation.id %}">{{ operation.date_created }}</a></td>
                  <td>{{ operation.description }}</td>
                  <td>{{ operation.category }}</td>
                  <td class="col-amount">{{ operation.amount }} €</td>
                  <td class="col-center"><a type="button" href="{% url 'delete-operation' operation.id %}"><i class="bi bi-trash"></i></a></td>
              </tr>
          {% endfor %}

          </tbody>
      </table>

  </div>
</div>


