{% extends 'base.html' %}

{% block content %}

    <div class="budgets-content">
        <div class="row justify-content-around">
            {% for account in accounts %}
                <div class="budget-col col-lg-6">
                    {% include 'budget/budget.html' %}
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="add-operation-button">
        <a href="#" class="btn btn-outline-light px-5">Ajouter une opération</a>
    </div>

{% endblock %}