{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="budgets-content">
        <div class="row justify-content-around">
            {% if not accounts %}
                <p class="not-accounts-message">Allez dans Comptes pour créer un nouveau compte</p>
            {% endif %}
            {% for account in accounts %}
                <div class="budget-col col-lg-6">
                    {% include 'budget/budget.html' %}
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- CHART -->

    <div class="row charts">
        <h1>Statistiques</h1>
        <div class="col-sm-4 category-chart-content">
            <canvas id="category-chart" width="600" height="300"></canvas>
        </div>
    </div>

    <!-- Modal CREATE -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">NOUVELLE OPERATION</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label">Type d'opération</label>
                                {{ create_operation_form.operation_type }}
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Description</label>
                                {{ create_operation_form.description }}
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Catégorie</label>
                                {{ create_operation_form.category }}
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Compte</label>
                                {{ create_operation_form.account }}
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Montant</label>
                                {{ create_operation_form.amount }}
                            </div>

                            <div class="form-date-operation mb-3">
                                <label class="form-label" for="date_created">Date de l'opération</label>
                                <input type="date" class="form-control" id="date_created" name="date_created">
{#                                {{ create_operation_form.date_created }}#}
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Annuler</button>
                                <button type="submit" class="btn btn-success">Créer Opération</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>

    <script>
        const canvasC = document.getElementById("category-chart");
        const ctx = canvasC.getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ labels_categories|safe }},
                datasets: [{
                    label: 'Dépenses par Catégorie',
                    data: {{ data_categories|safe }},
                    backgroundColor: {{ colors_categories|safe }},
                    borderWidth: 1,
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }

                }
            }
        });

    </script>

{% endblock %}