{% extends 'base.html' %}

{% block content %}
    <div class="create-account-button-container container">
        <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#deleteAccount">Choisir le Compte à supprimer</button>
    </div>

   <!-- Modal DELETE -->
    <div class="modal fade" id="deleteAccount" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="deleteAccount" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteAccountLabel">SUPPRIMER LE COMPTE</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                {{ delete_form.name }}
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Annuler</button>
                                <button type="submit" class="btn btn-danger">Supprimer</button>
                            </div>
                        </form>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <!-- TABLE -->

    <div class="account-card-body card-body">
        <table class=" budget-table table table-striped table-bordered table-dark">
            <thead>
            <tr>
                <td class="table-headers">NOM</td>
                <td class="table-headers">SOLDE</td>
            </tr>
            </thead>
            <tbody>
            {% for account in accounts %}
                <tr>
                    <td>{{ account.name }}</td>
                    <td class="col-amount">{{ account.balance|floatformat:2}} €</td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>

{% endblock %}