{% extends 'base.html' %}

{% block title %}Login{% endblock %}


{% block content %}

    <div class="log">

        <div class="login-container container">
            <h2 class="login-title">Se Connecter</h2>
            <div class="log-form">
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.username }}
                    </div>

                    <div class="mb-3">
                        {{ form.password }}
                    </div>

                    <button type="submit" class="btn btn-outline-light">Connexion</button>
                </form>

            </div>

            {% if messages %}
                <div class="error-message mt-3">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}


        </div>
    </div>
{% endblock %}