html {
    background-color: #212121;
}
body {
    margin: 0;
    background-color: #212121;
    font-family: 'Roboto Condensed', sans-serif;
}
h1 {
    color: chocolate;
}

.log{
    background-color: #212121;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #181818;
    margin: 5em auto;
    padding: 0 3em;
    width: 25em;
    border-radius: 20px;
}

.login-title {
    color: grey;
    margin-top: 1em;
    margin-bottom: 1em;
}
.log-form {
    width: 100%;
    text-align: center;
}
.form-control:focus {
        border-color: #fff;
        box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 1);
    }
.log-form button {
    width: 50%;
    margin-top: 1.5em;
    margin-bottom: 2em;
}
.error-message {
    text-align: center;
    width: 100%;
    color: red;
}

.error-message p {
    font-size: 0.8em;
}

/* NAV BAR */

.navbar {
    padding: 0;
}

.nav-fluid {
    background-color: #181818;
    padding: 0 5%;
}

.navbar-brand {
    color: chocolate;
    font-size: 3em;
    font-weight: bold;
    margin-right: 1em;
}

.navbar-brand:hover {
    color: white;
}

.nav-link {
    color: chocolate;
    margin-right: 2em;

}

.nav-link:hover {
    color: white;
}

.navbar-toggler-icon {
    color: chocolate;

}

/* BUDGET SNIPPET */

.budgets-content {
    padding: 2% 2%;
}

.budget-col {
    display: flex;
    justify-content: center;
}

.budget-card {
    border: 1px solid #181818;
    margin: 1em;

}
.budget-header{
    background-color: slategrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
}

.budget-name, .budget-amount {
    margin: 0;
    padding: 1em;
    font-size: 1.4em;
    color: white;
}

.budget-card-body {
    padding: 0;
}
.budget-table {
    font-size: 0.8em;
    margin: 0;
}

.col-amount {
    text-align: right;
}

.table-headers {
    text-align: center;
    font-size: 1.2em;
}
.table-headers-del {
    width: 50px;
}
.table-headers-cat {
    width: 400px;
}

/* ACCOUNTS */
.create-account-button-container {
    display: flex;
    justify-content: space-around;
    padding: 3em 10em;
}
.account-card-body {
    padding: 3% 30%;
}

/* MODAL ACCOUNT */
.modal-header {
    background-color: slategrey;
    color: white;
}


/* DASHBOARD */
.not-accounts-message {
    color: white;
    text-align: center;
}
.dashboard-title {
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

.add-operation-button {
    display: flex;
    justify-content: center;
}


.detail-operation-link {
    color: chocolate;

}

.detail-operation-link:hover {
    color: white
}

a .bi-trash {
    color: white;
    font-size: 1.2em;
}

.col-center {
    text-align: center;
}

/* DELETE OPERATION */

.confirm-del-op-content {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 35%;
    padding: 2em;
    background-color: #181818;
    border-radius: 20px;
}

.confirm-del-op {
    color: white;
    font-size: 1.2em;
}

/* update operation */

.update-operation-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 25%;
}

.back-btn {
    padding: 0.3em 3em;
    margin-top: 2em;
}

/* Delete category */

.confirm-del-op-content .btn-warning {
    margin-right: 40px;
}

