html {
    background-color: #212121;
}
body {
    margin: 0;
    background-color: #212121;
    font-family: 'Roboto Condensed', sans-serif;
}
h1 {
    color: chocolate;
}

.log{
    background-color: #212121;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #181818;
    margin: 5em auto;
    padding: 0 3em;
    width: 25em;
    border-radius: 20px;
}

.login-title {
    color: grey;
    margin-top: 1em;
    margin-bottom: 1em;
}
.log-form {
    width: 100%;
    text-align: center;
}
.form-control:focus {
        border-color: #fff;
        box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 1);
    }
.log-form button {
    width: 50%;
    margin-top: 1.5em;
    margin-bottom: 2em;
}
.error-message {
    text-align: center;
    width: 100%;
    color: red;
}

.error-message p {
    font-size: 0.8em;
}

/* NAV BAR */

.nav-content {
    background-color: #181818;
}
.nav-fluid {
    display: flex;
    justify-content: space-between;
    margin-left: 48%;
    padding-left: 0;
}

.navbar-brand {
    color: chocolate;
    font-size: 3em;
    font-weight: bold;
}

.navbar-brand:hover {
    color: white;
}

.logout-link{
    position: relative;
    color: chocolate;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.3em 0;
    margin-right: 2em;
}

.logout-link:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    width: 0;
    left: 0;
    height: 2px;
    transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
    background: white;
}


.logout-link:hover:after {
    width: 100%;
}

.logout-link:hover {
    color: white;
}

/* BUDGET SNIPPET */

.budgets-content {
    padding: 2% 2%;
}

.budget-col {
    display: flex;
    justify-content: center;
}

.budget-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
}

.budget-name, .budget-amount {
    margin: 0;
    background-color: aqua;
    padding: 1em;
    font-size: 1.4em;
}

.budget-table {
    font-size: 0.8em;
}

